*{padding:0;margin:0;border:0;}
a{
    color: #499fd1;
    text-decoration: underline;
}

ul,ol{list-style:none;}
html{min-height:100%;font-size:100px;font-family:-apple-system,blinkmacsystemfont,Helvetica Neue,arial,PingFang SC,Hiragino Sans GB,stheiti,Microsoft YaHei,Microsoft JhengHei,Source Han Sans SC,Noto Sans CJK SC,Source Han Sans CN,Noto Sans SC,Source Han Sans TC,Noto Sans CJK TC,WenQuanYi Micro Hei,simsun,sans-serif;}
body{background:#575d79;height:auto;background:linear-gradient(135deg,rgb(73,78,129) 10%,rgb(96,99,191) 10%,rgb(96,99,191) 12%,rgb(37,40,61) 12%,rgb(37,40,61) 25%,rgb(63,69,105) 25%,rgb(63,69,105) 90%,rgb(79,73,152) 90%) bottom right;position:relative;background-size:100% 100%;background-repeat:no-repeat;font-size:100px;}
.tab_menu{
    /* display: flex;
    justify-content: space-around; */
    width: 100%;
    height: 60px;
    background: rgb(57, 61, 58);
}
.tab_menu span {
    float: left;
    padding: 0px 2px;
    font-size: 14px;
    min-width: 25%;
    box-sizing: border-box;
    border: solid 1px #fff;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.tab_menu span.current {
    color: #333;
    background: #fff;
}
.mainbox,.main_contain{width:100%;height:100vh;margin:0 auto;box-sizing:border-box;max-width:9rem;}
.mainbox .chose{position:relative;width:100%;box-sizing:border-box;padding:.1rem;background:#ffffff;background:linear-gradient(135deg,rgb(40,51,89) 10%,rgb(37,41,72) 10%,rgb(37,41,72) 20%,rgb(28,30,49) 20%,rgb(28,30,49) 80%,rgb(46,49,83) 80%,rgb(46,49,83) 90%,rgb(28,30,49) 90%) bottom right;}
.mainbox .chose .box{font-size:.14rem;width:100%;border-bottom:.02rem solid rgba(213,217,255,.1);margin-bottom:.05rem;}
.mainbox .chose .box:nth-child(7){border:none;margin:0}
.mainbox .chose .box .label{display:block;min-width:.65rem;font-weight:700;color:#fff;margin:0 .03rem;font-size:.14rem;}
.mainbox .chose .box ul{display:flex;flex-wrap:wrap;}
.mainbox .chose .box ul li{position:relative;min-width:.8rem;text-align:center;color:#000;font-size:.14rem;font-weight:700;cursor:pointer;margin:.03rem;height:.28rem;line-height:.28rem;background:#ffffff;background:linear-gradient(135deg,rgb(238,237,242) 30%,#ffffff 30%,#ffffff) bottom right;}
.mainbox .chose .box ul li.act:after{content:'';position:absolute;display:block;width:.74rem;height:.22rem;top:0;left:0;border:.03rem solid #5cca89;}
.mainbox .chose .box ul li.act:before{content:'';position:absolute;display:block;width:.22rem;height:.22rem;bottom:0;right:0;background:linear-gradient(-45deg,#5cca89 50%,transparent 50%,transparent) bottom right;}
.mainbox .chose .box ul li:hover{background:#e0f7ed;}
.mainbox .chose .box ul li.act{font-weight:700;}
.mainbox .chose .reset{position:absolute;background-color:#575e7b;font-weight:600;height:0.24rem;line-height:.24rem;float:right;padding:0 0.15rem;font-size:.16rem;top:0;right:0;color:#9ea5c3;}
#search,#player_name,#BP_search{padding-left:0.03rem;background:transparent;font-size:.14rem;width:1.8rem;height:0.28rem;display:inline-block;border:.02rem solid rgba(213,217,255,.2);background:rgba(213,217,255,.1);color:#fff;outline:0;}
#bp_query,#eq_query,#name_query{background:#fdf548;height:0.3rem;width:1rem;}
#result_card{margin-top:.1rem;padding-top:.25rem;text-align:center;background:rgba(213,217,255,.1);}
.character{position:relative;display:inline-block;width:1rem;height:1.2rem;background:#ce9d04;background:linear-gradient(-45deg,transparent .06rem,#edc856 0) bottom right,linear-gradient(45deg,transparent .06rem,#edc856 0) bottom left,linear-gradient(135deg,transparent .06rem,#ce9d04 0) top left,linear-gradient(-135deg,transparent .06rem,#ce9d04 0) top right;background-size:50% 50%;background-repeat:no-repeat;}
.character.SR{background:linear-gradient(-45deg,transparent .06rem,#9a77d5 0) bottom right,linear-gradient(45deg,transparent .06rem,#9a77d5 0) bottom left,linear-gradient(135deg,transparent .06rem,#513089 0) top left,linear-gradient(-135deg,transparent .06rem,#513089 0) top right;background-size:50% 50%;background-repeat:no-repeat;}
.SR .c-party{text-shadow:0 0 .05rem #4b3776;}
.SR .c-rare{color:#9a77d5;}
.SR .c-position{background:linear-gradient(-45deg,#9a77d5 50%,transparent 0);text-shadow:0 0 .05rem #4b3776;}
.SR .c-name{color:#d5c3fd;background:#584489;background:linear-gradient(90deg,#7c64a0,#584489,#7c64a0);}
.SR .c-name:before{background:#513089;}
.SR .c-year{text-shadow:0 0 .05rem #4b3776;}
.c-party{font-size:.22rem;font-weight:700;color:#fff;position:absolute;left:8px;top:8px;text-shadow:0 0 .05rem #b27a2f;}
.c-year{font-size:.14rem;font-weight:700;color:#fff;text-shadow:0 0 .05rem #b27a2f;position:absolute;left:0;text-align:center;width:100%;bottom:0;height:.2rem;line-height:.2rem;}
.c-name{font-size:.14rem;font-weight:700;font-style:italic;color:#fff6bd;position:absolute;left:0;height:.2rem;line-height:.2rem;text-align:center;width:100%;bottom:.2rem;background:#826b0e;background:linear-gradient(90deg,#c5a244,#826b0e,#c5a244);}
.c-name:before{content:'';background:#ce9d04;height:.31rem;position:absolute;width:100%;top:-.31rem;left:0;z-index:1;}
.c-tag{position:absolute;font-size:.12rem;color:#fff;background:linear-gradient(135deg,rgba(255,255,255,.3) 10%,rgba(0,0,0,.3) 10%,rgba(0,0,0,.3)) bottom right;z-index:9;width:.6rem;font-weight:700}
.c-tag.tag1{top:.44rem}
.c-tag.tag2{top:.62rem}
.c-position{width:.5rem;height:.5rem;position:absolute;right:0;bottom:.4rem;background:#edc856;background:linear-gradient(-45deg,#edc856 50%,transparent 0);background-repeat:no-repeat;color:#fff;text-shadow:0 0 .05rem #b27a2f;font-size:.14rem;text-align:right;line-height:.7rem;padding-right:.03rem;z-index:10;}
.c-rare{font-size:.14rem;font-weight:700;color:#edc856;position:absolute;left:.08rem;top:.28rem}
.SR{background:linear-gradient(-45deg,transparent .06rem,#9a77d5 0) bottom right,linear-gradient(45deg,transparent .06rem,#9a77d5 0) bottom left,linear-gradient(135deg,transparent .06rem,#513089 0) top left,linear-gradient(-135deg,transparent .06rem,#513089 0) top right;background-size:50% 50%;background-repeat:no-repeat;}
.tab_item{
    display: none;
    font-size: 0.14rem;
}
.join div{
    padding-bottom: 15px;
    text-align: center;
    margin: 0 auto
}
.join h2{
    margin:0.2rem auto;
    color: #ce9d04;
}
#result_table,#result_table1{
    font-size: 0.14rem;
    margin-top:.1rem;
    margin-bottom: .1rem;
    padding-top:.05rem;
    text-align:center;
    background:rgba(213,217,255,.1);
}
#result_table{
    width: 100%;
    overflow: hidden;
}
#result_table thead tr td:last-child{
    box-shadow: -2px 0px;
    position: sticky;
	right: 0px;
}
.eq_tbody tr{
    height: 30px;
}
#result_table tr td{
    border-left: solid 1px #00ff2b;
    border-top: solid 1px #efff00;
}
.eq_tbody tr td:last-child{
    box-shadow: -2px 0px;
    position: sticky;
	right: 0px;
}
#result_table table{
    width: 100%;
    color: #fff;
}
#result_table table .pingzhi td{
    height: 0.4rem;
    background-color: #577179;
    font-weight: 700;
}
#result_table table .pingzhi1 td{
    background-color: #137db9;
}
#result_table table .pingzhi2 td{
    background-color: #5b0ab8;
}
#result_table table .pingzhi3 td{
    background-color: #e4b20f;
}
#result_table table .pingzhi4 td{
    background-color: #c7c61d;
}
.dialog{
    display: none;
    text-align: center;
    position: fixed;
    font-size: 0.14rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 100%;
    max-height: 5.1rem;
    max-width: 5.5rem;
    z-index: 10;
    /*background:linear-gradient(45deg,rgb(73,78,129) 10%,rgb(96,99,191) 10%,rgb(96,99,191) 12%,rgb(37,40,61) 12%,rgb(37,40,61) 25%,rgb(63,69,105) 25%,rgb(63,69,105) 90%,rgb(79,73,152) 90%) bottom right;*/
    background:linear-gradient(0,#ebe9fb 10%,#fff)
}
.dialog .title{
    /*margin-top: 0.1rem;*/
    /*color: #fff;*/
    /*font-size: 0.24rem;*/
    color:#fff;
    font-size:.16rem;
    background:linear-gradient(90deg,#5e94f7 ,#763fe8);
    height:.36rem;
    line-height:.36rem;
    font-weight:700
}
.dialog .off{
    /*border: solid 1px #edc856;*/
    /*padding: 0 0.03rem;*/
    /*color: #edc856;*/
    /*float: right;*/
    /*margin: 0.05rem 0.05rem 0 0 ;*/
    /*cursor: pointer;*/
    padding:0 .05rem;
    color:#fff;
    line-height:.36rem;
    height:.36rem;
    cursor:pointer;
    position:absolute;
    right:0
}
.dialog .dialog_contant{
    position: relative;
    text-align: center;
    color: #0c0b0b;
    padding: 0.1rem;
    display: block;
    clear: both;
    height: 80%;
}
.dialog .dialog_contant img{
    height: 90%;
    max-height: 4rem;
}
.dialog .dialog_contant p{
    text-indent:2em; 
    text-align: left;
    margin: 0;
    font-weight: 700;
}
.dialog .dialog_contant .margin{
    margin-bottom: 0.2rem;
    font-weight: 500;
}
.dialog .dialog_contant .margin span{
    color: red;
    text-decoration:underline;
}
.dialog .dialog_contant .uploadTips{
    padding: 0.05rem;
    margin-top: 0.2rem;
    font-weight: 500;
    background-color: red;
    color: #fff;
}
.dialog .dialog_contant .upload_btn{
    margin-left: 80%;
    margin-top: 0.2rem;
    padding: 0.05rem;
    background: linear-gradient(90deg,#5e94f7 ,#763fe8);;
    border-radius: 0.05rem;
    color: #fff;
    font-weight: 700;
}
.dialog .result p{
    padding: 0.08rem;
}
.dialog .result_dialog1,.dialog .result_dialog{
    display: none;
}
.result_msg{
    border-radius: 0.05rem;
    display: none;
    text-align: center;
    position: fixed;
    font-size: 0.14rem;
    top: 50%;
    left: 50%;
    width: 1.2rem;
    height: 0.4rem;
    line-height: 0.4rem;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.5);
    color: #fff;
    z-index: 100;
}
/* equipment-css */
.item{position:relative;display:inline-block;height:1.15rem;width:2.8rem;float:left;background:#404a6d;border-bottom:.03rem solid #fff;margin:0 .1rem .1rem}
@media screen and (max-width:900px) and (min-width:751px){.ai-item,.item{width:31%;margin:0 1% .1rem}}
@media screen and (max-width:750px) and (min-width:501px){.ai-item,.item{width:48%;margin:0 1% .1rem}}
@media screen and (max-width:500px){.ai-item,.item{width:100%;margin:0 0 .1rem}}
.item:after{position:absolute;content:'';height:100%;width:100%;top:0;left:0;z-index:1;background:linear-gradient(0,rgba(255,255,255,.4) 30%,transparent 90%)}
.sp .item-info{color:#fefa81;background:linear-gradient(135deg,#d5a74f 60%,#d5a74f 62%,#f7e568 62%,#e5c859 75%,#d4a64f 75%,#eed759 90%,#f4e25c 90%) bottom right}
.sp .item-icon{border-color:#fefa81}
.s .item-info{color:#d4a54e;background:linear-gradient(135deg,#986a26 60%,#a9782a 60%,#976925 62%,#ecbc62 62%,#ecce5d 75%,#ba8f32 75%,#e8c042 90%,#b78930 90%) bottom right}
.s .item-icon{border-color:#d4a54e}
.ap .item-info{color:#ab61f6;background:linear-gradient(135deg,#6c66cf 60%,#6345b0 60%,#6345b0 62%,#7b69e0 62%,#9299f6 75%,#654bb5 75%,#828bec 90%,#9198f5 90%) bottom right}
.ap .item-icon{border-color:#ab61f6}
.a .item-info{color:#73e3fb;background:linear-gradient(135deg,#5dcbf5 60%,#4393cd 60%,#4393cd 62%,#6debeb 62%,#5dcbf1 75%,#499fd1 75%,#6eedf7 90%,#69def5 90%) bottom right}
.a .item-icon{border-color:#73e3fb}
.item-info{position:relative;font-size:.14rem;z-index:2;padding:.1rem}

.item-icon{position:absolute;width:.48rem;height:.48rem;border:.02rem solid #fff}
.item-icon img{width:100%;height:100%}
.item-name{position:absolute;left:.65rem;top:.1rem;font-weight:700;font-size:.16rem;height:.24rem;line-height:.24rem;background:rgba(0,0,0,.2);background:linear-gradient(135deg,rgba(0,0,0,.6) 70%,transparent 70%,transparent) bottom right;padding:0 .5rem 0 .05rem}
.item-field{position:absolute;right:.1rem;font-size:.24rem;color:rgba(0,0,0,.5);font-weight:700}
.item-rare{left:.65rem;top:.36rem;position:absolute;width:.48rem;height:.24rem;line-height:.24rem;text-align:center;background:rgba(0,0,0,.6)}

.item-set{margin-top:.55rem;color:#000;font-weight:700;width:100%;background:#1f2238;text-align:left;border:0.02rem solid #835aec}
.item-set-name{color:#fbfbfb;padding-left:.04rem;background-color: #835aec;}
.item-set-info{color:#101010;padding-left:.10rem;background-color: #f7f7f7;}


.ai-item{height: 2rem;}
.item-label{
    font-style: italic;
    font-size: .30rem; 
    padding: .2rem .05rem;
    box-sizing: border-box;
    right:10%;
    top:.36rem;
    position:absolute;
    line-height:.24rem;
    text-align:center;
    border-radius: .05rem;
    color: #fefa81;
    background:linear-gradient(135deg,rgba(0,0,0,.6) 60%,transparent 80%,transparent) bottom right;
}
.item-img{position:relative;font-size:.14rem;z-index:2;padding:.1rem}
#result_table1 .player{
    display: inline-block;
    position: relative;
    width: 3rem;
    height: 4rem;
    background: linear-gradient(-45deg,#986a26 60%,#a9782a 60%,#976925 62%,#ecbc62 62%,#ecce5d 75%,#ba8f32 75%,#e8c042 90%,#b78930 90%) bottom right;;
}

.player .zhandui{
    width: 1.5rem;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: left;
    padding-left: 0.3rem;
    position: absolute;
    font-style:italic;
    top: 0.1rem;
    left: 0;
    font-size: 0.3rem;
    color: #c4c712;
    text-shadow: 0.1rem 0.1rem 0.1rem #0f130a;
    background: linear-gradient(135deg,rgba(0,0,0,.6) 60%,transparent 80%,transparent) bottom right;
}
.player .name{
    font-size: 0.5rem;
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    position: absolute;
    top: 0.7rem;
    color: #fff;
    text-shadow: 0.1rem 0.1rem 0.1rem #0f130a;
}
.player .weizhi{
    height: 0.3rem;
    line-height: 0.3rem;
    width: 1.5rem;
    font-size: 0.2rem;
    text-align: right;
    padding-right: 0.3rem;
    font-weight: 700;
    font-style:italic;
    color:#835aec;
    position: absolute;
    top: 1.3rem;
    right: 0;
    background: linear-gradient(-45deg,rgba(0,0,0,.6) 60%,transparent 80%,transparent) bottom right;
}
.container{
    padding: 0 0.05rem;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 1.8rem;
    color: #fff;
}
.container .counter{
    border: solid 2px #4b3776;
}
.container .counter p{
    padding: 0.05rem;
    text-align: left;
    background-color: #4b3776;
}
.container .counter div,.container .comment div{
    min-height: 0.5rem;
    background-color: #fff;
    color: #000;
}
.container .comment{
    margin-top: 0.1rem;
    border: solid 2px #ba8f32;
}
.container .comment p{
    padding: 0.05rem;
    text-align: left;
    background-color: #ba8f32;
}
.myscroll { 
    width: 100%; 
    height: calc(100% - 36px); 
    margin: 0 auto; 
    line-height: 0.36rem; 
    font-size: 0.16rem; 
    overflow: hidden;}
.myscroll_title{
    width: 100%;
    font-size: 0.18rem;
    padding: 0 !important;
    font-weight: 700;
    line-height: 0.36rem;
}
#dashang_list li:hover{
    background-color: #ba8f32;
}
@property --rotate{
    syntax:"<angle>";
        initial-value:132deg;
        inherits:false;
    }
:root{
    --card-height:4.5rem;
    --card-width:95vw
} 
.card{
    background-color: #191c29;
    width: var(--card-width);
    max-width: 4rem;
    height: var(--card-height);
    position: relative;
    border-radius: 6px;
    font-size: 0.15rem;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
}
.card::before{
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate),#5ddcff,#3c67e3 43%,#4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}
.card::after{
    position: absolute;
    content: '';
    top: calc(var(--card-height)/6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height)/6));
    background-image: linear-gradient(var(--rotate),#5ddcff,#3c67e3 43%,#4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}
@keyframes spin{
    0%{
        --rotate:0deg;
    }
    100%{
        --rotate:360deg;
    }
}
.join li {
    box-sizing: border-box; 
    height: 0.36rem;
    color: white;}
.join li span:nth-child(1),.join li span:nth-child(2){
    display: inline-block;
    width: 28%;
}
.join li span:nth-child(3){
    display: inline-block;
    width: 40%;
}
.aick{
    display: block !important;
}
.aick .box{
    display: none;
}

#toIndex{
    position: fixed;
    text-align: center;
    width: .3rem;
    top: 40vh;
    right: .1rem;
    border: solid 1px #000;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: .2rem;
}